<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @memo.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @memo.body %>
</p>

<p>
  <strong>Date:</strong>
  <%= @memo.date %>
</p>



<%= link_to '編集', edit_memo_path(@memo) %> |
    <%= link_to '戻る', memos_path %> |
    <%= link_to 'レビューを書く', new_memo_review_path(@memo) %> |

    <hr>

    <h2>レビュー一覧</h2>
    <% @memo.reviews.each do |review| %>
      <p>
        <%= review.body %> <br>
        by <%= review.user.email %>
      </p>
    <% end %>
    <hr>
    <h2>レビューを残したユーザー一覧</h2>
    <%# throughオプションのおかげで、MemoはReviewを介してUserにアクセスできる  %>
    <% @memo.users.each do |user| %>
      <p><%= user.email %></p>
    <% end %>
  </div>
</div>
